.cell {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
	padding: 5px 25px 5px 25px;
}

.cellScore {
  display: flex;
}

.matchTable {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse;
}
.table tr {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
}

.score {
  padding-right: 5px;
  width: 25%;
}

.scoreGrey {
  padding-right: 5px;
  width: 25%;
  color: rgb(170, 170, 170);
}

@media (max-width: 896px) {
  .matchTable {
    padding: 10px;
    font-size: 16px;
  }

  .cell {
    padding: 10px;
  }

  .score {
    width: 32%;
    font-size: 16px;
  }

  .scoreGrey {
    width: 32%;
    font-size: 16px;
  }

  .cellScore {
    padding: 10px;
  }
}

@media (max-width: 414px) {
  .matchTable {
    font-size: 8px;
  }

  .cellScore {
    padding: 0px;
  }

  .score {
    font-size: 8px;
  }

  .scoreGrey {
    font-size: 8px;
  }

  .cell {
    padding: 4px;
  }
}
